@tailwind base;

html {
  @apply overflow-hidden;
}

*:not(.bebas) {
  font-family: "Roboto", sans-serif;
}


@tailwind components;
@tailwind utilities;

.page {
  @apply w-screen h-screen overflow-hidden bg-white;
}

/* .fullpage * {
    border: magenta 1px solid;
} */

.w-bar {
  width: 7.5vw;
}

.w-nobar {
  width: 92.5vw;
}

.text-vertical {
  writing-mode: vertical-rl;
}

.spacing-vertical {
  letter-spacing: 0.3rem;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}

.text-5-5rem {
  font-size: 3.25rem;
}

.start {
  background:rgba(255, 255, 255, 0.295) url("../img/text_bg.png");
  background-size: cover;
  transition: all ease 1s;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: white;
  @apply bg-royalblue;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  @apply bg-royalorange;
}
