@tailwind base;

html {
  @apply overflow-hidden;
}

*:not(.bebas) {
  font-family: "Roboto", sans-serif;
}

@tailwind components;
@tailwind utilities;

.fullpage {
  @apply h-screen max-h-screen min-h-screen overflow-hidden flex;
  width: 200vw;
}

.page {
  @apply w-screen h-screen overflow-hidden;
}

/* .fullpage * {
    border: magenta 1px solid;
} */

.w-bar {
  width: 7.5vw;
}

.w-nobar {
  width: 92.5vw;
}

.text-vertical {
  writing-mode: vertical-rl;
}

.spacing-vertical {
  letter-spacing: 0.3rem;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}

.text-5-5rem {
  font-size: 3.25rem;
}

.start {
  background-image: url("../img/text_bg.png");
  background-size: cover;
  transition: all ease 1s;
}

.swiper {
  width: 100vw;
  height: 100vh;
}
